<li [ngClass]="{'list-group-item': true,
                  'list-group-item-success': postListArrays.loveIts > 0,
                  'list-group-item-danger': postListArrays.loveIts < 0}">
    <h4>{{postListArrays.title}} - {{postListArrays.created_at | date: 'd/MM/y à H:mm'}}</h4>
    <p>{{postListArrays.content}}</p>
    <p>Love: {{postListArrays.loveIts}}</p>
<div class="btn-toolbar">
  <button type="button" class="btn btn-success" (click)="onLoveIts()">Love it!</button>
  <button type="button" class="btn btn-danger" (click)="onDontLoveIts()">Don't love it </button>
</div>
</li>
